/*nav{color:cyan; text-indent: 1cm;
font-size:40px;
font-weight: bolder;background-color: red;}

p{
	background-color: red;color:cyan; text-indent: 1cm; text-decoration: blink;
 font-size:68px; font-style: oblique; font-weight: bolder; 
}

div h1{background-color:blue;color:black; word-spacing: 10px}
*/




.anchor{font-size:40px;}
.anchor:visited{color:red;opacity:.9;}
.anchor:hover{color:red;opacity:.5;}
.anchor:active{color:red;opacity:2.6;}







.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e42}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

table {
    border: 1px solid black;
}
body{
	background:"petss.jpeg"; background-repeat:no-repeat; background-color:powderblue;
}
a{color:red;}

